/* Shared common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-family: "Raleway", sans-serif;
}

/* Navbar related styles */

header {
    background-image: url(../B12A01-landing-launchpad-main/Assets/Hero-bg.png);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
    padding: 50px 0px;
}

nav h1 {
    color: #4E47FF;
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
}

nav button {
    height: 48px;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #4E47FF;
    border: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav button:hover {
    background-color: #7F7BDB;
    /* lighter color on hover */
    transform: translateY(-2px);
}

/* Banner related styles */

.banner-content h1 {
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    width: 905px;
    margin: 160px auto 40px auto;
}

.banner-btn button {
    height: 48px;
    padding: 12px 36px;
    border-radius: 10px;
    background: #4E47FF;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.banner-btn button:hover{
    background-color: #7F7BDB;
    /* lighter color on hover */
    transform: translateY(-2px);
}

.banner-btn {
    width: 174px;
    margin: 0 auto;
    padding-bottom: 200px;

}

/* Action section styles */

main {
    background: #F5F8FF;
}

.main-body{
    margin: 0 200px;
}

.action-container {
    display: flex;
    justify-content: space-between;
}

.action-content h2 {
    color: #252432;
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    margin-top: 200px;
}

.action-content h5 {
    color: #25243280;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 520px;
    padding: 25px 0px;
}

.action-content button {
    height: 48px;
    padding: 12px 36px;
    border-radius: 10px;
    background: #4E47FF;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-content button:hover{
    background-color: #7F7BDB;
    /* lighter color on hover */
    transform: translateY(-2px);
}

.action-img {
    width: 503px;
    height: auto;
    border-radius: 48px;
    margin-top: 120px;
}

/* User section styles */

.users-container {
    padding: 50px 80px;
    align-items: center;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.10);
    margin-top: 120px;
}

.users-container h3 {
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    margin-top: 50px;
}

.users-data {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.users-data h1 {
    color: #4E47FF;
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
}

.users-data h6 {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/* Users feedback section setyles */

.feedback-container {
    margin-top: 135px;
}

.feedback-container h3 {
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    ;
}

.feedbacks {
    display: flex;
    gap: 24px;
    width: 1207px;
    margin: 0 auto;
}

.review-container {
    border-radius: 14px;
    border: solid #F2EDED;
    background: rgba(255, 255, 255, 0.70);
    margin-top: 50px;
    padding: 26px 30px;
}

.review-container h5 {
    color: #252432;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    margin-top: 18px;
}

.review-container-des {
    color: #252432;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.reviewer-contaienr {
    display: flex;
}

.reviewer-contaienr img {
    width: 45px;
    border-radius: 50%;
}

.reviewer-details {
    margin-left: 10px;
}

.reviewer-details h6 {
    color: rgba(0, 0, 0, 0.60);
    font-family: inter;
    font-size: 16px;
    font-weight: 700;
}

.reviewer-details p {
    color: #8987A1;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

/* focus section styles */

.focus-section {
    padding: 71px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #FFF;
    margin-top: 135px;

}

.focus-container h2 {
    color: #000;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.focus-container p {
    color: rgba(0, 0, 0, 0.50);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}

.focus-btn {
    width: 195px;
    margin: 0 auto;
}

.focus-btn button {
    height: 48px;
    padding: 12px 36px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #4E47FF;
    backdrop-filter: blur(2px);
    border: none;
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.focus-btn button:hover{
    background-color: #7F7BDB;
    /* lighter color on hover */
    transform: translateY(-2px);
}

.focus-img {
    width: 840px;
    margin: 0 auto;
}

.focus-img img {
    border-radius: 48px;
    margin-top: 20px;
}

/* Get touch section style */

.get-touch-container {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    margin-top: 70px;
    align-items: center;
}

.get-touch-heading h1 {
    width: 528px;
    color: #000;
    font-family: Raleway;
    font-size: 97px;
    font-weight: 700;

}

.get-touch-form h6 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    ;
    font-weight: 500;
    margin-top: 20px;
}

.get-touch-input {
    width: 500px;
    padding: 15px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
}

.get-touch-textarea {
    width: 500px;
    height: 135px;
    padding: 20px 32px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
}

.get-touch-form button {
    width: 565px;
    padding: 20px 0px;
    align-items: center;
    border-radius: 10px;
    background: #4E47FF;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.get-touch-form button:hover{
    background-color: #7F7BDB;
    /* lighter color on hover */
    transform: translateY(-2px);
}

/* Footer section styles */

.footer {
    width: 100%;
    padding: 105px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.footer-container h1 {
    color: #4E47FF;
    text-align: center;
    font-family: Inter;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 5px;
}

.footer-container p {
    width: 531px;
    margin: 0 auto;
    color: #8987A1;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer-nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-nav p {
    color: #8987A1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}